{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Predicted Data</title>
  <link rel="stylesheet" href="{% static 'data.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body style="background: #121212;">
  <section>
  <p>Prediction History</p>
  {% if page_obj %}
  <table class="Table-data">
    <!-- table headers -->
    <thead>
      <tr>
        <th class="table-cell table-cell1">Brand</th> 
        <th class="table-cell">Model</th>
        <th class="table-cell">Gear</th>
        <th class="table-cell">Fuel Type</th>
        <th class="table-cell">KM Driven</th>
        <th class="table-cell">Predicted Price</th>
      </tr>
    </thead>
    <!-- table rows -->
    {% for datap in page_obj %}
    <tbody>
    
      <tr>
        <!-- table data -->
        <td class="table-rows">{{datap.car_name}}</td>
        <td class="table-rows">{{datap.car_model}}</td>
        <td class="table-rows">{{datap.car_gear}}</td>
        <td class="table-rows">{{datap.car_fuel}}</td>
        <td class="table-rows">{{datap.car_kilometer}}</td>
        <td class="table-rows">{{ datap.result|floatformat:2 }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <!-- Add more rows as needed -->
  </table>
  <!-- pagination links -->
  <div class="pagination">
    {% if page_obj.has_previous %}
    <a class="hover-text" href="?page={{ page_obj.previous_page_number }}">
      <button class="arrow-button left" type="button">
        &larr;
      </button>
    </a> &nbsp;
    {% else %}
    <a class="hover-text" href="">
      <button class="arrow-button left btn-disabled" type="button" disabled>
        &larr;
      </button>
    </a> &nbsp;
    {% endif %}
    <span class="current-page" style="font-size: 20px;">{{ page_obj.number }}</span>
    &nbsp;
    {% if page_obj.has_next %}
    <a class="hover-text" href="?page={{ page_obj.next_page_number }}">
      <button class="arrow-button right" type="button">
        &rarr;
      </button>
    </a>
    {% else %}
    <a class="hover-text">
      <button class="arrow-button right btn-disabled" type="button" disabled>
        &rarr;
      </button>
    </a>
    {% endif %}
  </div>
  
  <br><br>

  <a class="exportbtn" href="{% url 'export_data' %}" >Export Data</a><br><br>
  <section style="width:60rem; height:40rem;">
   
    <canvas id="myChart">
  
      <script>
        // Get the canvas element
        var ctx = document.getElementById('myChart').getContext('2d');
    
        // Prepare the data for the line graph
        var carModels = [];
        var resultData = [];
    
        {% for datap in data %}
          carModels.push("{{ datap.car_model }}");
          resultData.push({{ datap.result|floatformat:2 }});
        {% endfor %}
    
        // Create the line chart
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: carModels,
            datasets: [{
              label: 'Changes of Price',
              data: resultData,
              borderColor: 'rgb(75, 192, 192)',
              fill: false
            }]
          },
          options: {
            responsive: true,
            scales: {
              x: {
                title: {
                  display: true,
                  text: 'Model Year'
                }
              },
              y: {
                title: {
                  display: true,
                  text: 'Car Price'
                },
                beginAtZero: true
              }
            }
          }
        });
      </script>
    
    </canvas>
    </section>
</section>
 
  
  {% else %}
  <p>No prediction history.</p>
  {% endif %}
  
</body>

</html>
