<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./../static/home.css">
    <link rel="stylesheet" href="./../static/about.css">
    <link rel="stylesheet" href="./../static/team.css">
    <link rel="stylesheet" href="./../static/contact.css">
    <link rel="stylesheet" href="./../static/header.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <title>Preused Car Price Prediction </title>
</head>

<body>
    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero"><img src="./../static/logo1.png"></a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="#hero" data-after="Home"> Home </a></li>
                        <li><a href="#about" data-after="About">About </a></li>
                        <li><a href="#team" data-after="Team"> Team </a></li>
                        <li><a href="prediction/" data-after="Prediction">Prediction</a></li>
                        <li><a href="data/" data-after="Data">Predicted Data</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->

    <!-- Hero Banner -->
    <section id="hero">

        <div class="heroen">

            <div>
                <div class="highway"></div>
                <div class="city"></div>
                <div class="car">
                    <img src="../static/car.png">
                </div>
                <div class="wheel">
                    <img src="../static/wheel.png" class="back-wheel">
                    <img src="../static/wheel.png" class="front-wheel">
                </div>
            </div>
            <div>
                <h1 class="text">Pre-Used Car Price Prediction </h1>
            </div>
            <div class="gtsbtn">
                <a href="{% url 'prediction' %}" class="cta"> Get Started </a>
            </div>
        </div>

    </section>
    <!-- End Hero Banner -->

    <!-- About Section  -->
    <section id="about">
        <div class="about container">
            <div class="about-top">
                <h1 class="section-title"> About </h1><br><br>
                <p> Welcome to our preowned car price prediction website in Bhutan.
                    Our platform utilizes advanced algorithms and data analysis
                    techniques to accurately forecast the value of preowned cars
                    in the Bhutanese market. By providing reliable and up-to-date
                    information, we aim to assist car buyers and sellers in making
                    informed decisions and achieving fair deals. Trust us to help
                    you navigate the world of preowned cars in Bhutan.
                </p>
                <button class="readmore" type="button">Read More</button>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- Team Section -->
    <section id="team">
        <div class="team container">
            <div class="team-top">
                <h1 class="section-title"> Team </h1><br><br>
                <p>Great team work is the backbone of any successful organization
                    or project. It allows individuals to work together towards a
                    common goal, utilizing their individual strengths to achieve
                    greater results than they could alone. Effective team work is
                    vital in achieving success, whether it is in business, sports,
                    or any other field.
                </p>
            </div>
            <div class="team-bottom">
                <div class="team-details" style="margin-top: 37px !important;">
                    <div><img src="../static/sonam1.jpg"></div>
                    <h4> Sonam Deki </h4>
                    <p>(Team Leader, Front-end Developer)</p>
                </div>
                <div class="team-details">
                    <div><img src="../static/tashi.jpg"></div>
                    <h4> Tashi Penjor </h4>
                    <p>(UI Designer, Developer)</p>
                </div>
                <div class="team-details">
                    <div><img src="../static/ugyen.jpg"></div>
                    <h4> Ugyen Kezang </h4>
                    <p>(Developer, UI Designer)</p>
                </div>
                <div class="team-details">
                    <div><img src="../static/kuenga.jpg"></div>
                    <h4> Kuenga Tenzin Tshering </h4>
                    <p>(UI Designer, Developer)</p>
                </div>
                <div class="team-details">
                    <div><img src="../static/phuntsho.jpg"></div>
                    <h4> Phuntsho Wangmo </h4>
                    <p>(Front-end, Quality Assurance Engineer)</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section -->

    <!-- Contact Us Section -->
    <section id="contacts">
        <div class="contact container">
            <div>
                <h1 class="section-title"> Contact Us </h1>
            </div>
            <br><br><br>
            <div class="contact-items">
                <div class="contact-logo">
                    <img src="../static/logo1.png">
                </div>
                <br><br><br>
                <div class="cd">
                    <div class="contact-details1">
                        <p><b> Contact Us:</b></p>
                        <p> 17422743 </p>
                        <p> 17884243 </p>
                        <p> 17094323 </p>
                    </div>
                    <div class="contact-details2">
                        <p> Gyalpozhing College of Information Technology.
                        <p> Royal University of Bhutan. </p>
                        <p> Gyalpozhing PO 43002 Gyalpozhing, Mongar, Bhutan.</p>
                    </div>
                    <div class="contact-details3">
                        <p><b> Quick Links: </b></p>
                        <p> gcit.edu.bt </p>
                    </div>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <div>
                    <p>COPYRIGHT 2023 &copy; Designed by Group 9. All rights reserved. </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Us Section -->
    
    <script src="./../static/app.js"> </script>
</body>

</html>