<!DOCTYPE html>
<html lang="en">
<head st>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
    <link rel="stylesheet" href="./../static/prediction.css">
</head>
<body>
    <section id="prediction">
        <div class="prediction container" style="width: 600px;">
            <h2 class="form-title"> Enter the details of car </h2>
            <form method="POST" id="form">
                {% csrf_token %}
                <div class="user-input">
                    <div class="user-input-box">
                        <label for="carBrand"> Car Brand </label>
                        <select class="select-input" required name="car_brand" onchange="changeSecondDropdown()" id="firstDropdown">
                          <option>Please select a brand</option>
                          <option value="Hyundai">Hyundai</option>
                          <option value="Maruti">Maruti</option>
                          <option value="Tata">Tata</option>
                          <option value="Honda">Honda</option>
                          <option value="Renault">Renault</option>
                          <option value="Ford">Ford</option>
                          <option value="Toyota">Toyota</option>
                          <option value="Mahindra">Mahindra</option>
                        </select>
                       
                    </div>
                </div>
                <div class="user-input">
                    <div class="user-input-box">
                        <label for="carName"> Model </label>
                        <select class="select-input" required name="car_name" id="secondDropdown">
                          <option value="default">Please select an option</option>
                        </select>
                        <script>
                            function changeSecondDropdown() {
      var firstDropdown = document.getElementById("firstDropdown");
      var secondDropdown = document.getElementById("secondDropdown");
      
      // Clear existing options
      secondDropdown.innerHTML = "";
      
      // Add options based on the selected value of the first dropdown
      if (firstDropdown.value === "Hyundai") {
        var option1 = document.createElement("option");
        option1.value = "EonERA PLUS"
        option1.text = "EonERA PLUS";
        secondDropdown.add(option1);
        
        var option2 = document.createElement("option");
        option2.text = "VernaTRANSFORM 1.6 VTVT";
        option2.value = "VernaTRANSFORM 1.6 VTVT"
        secondDropdown.add(option2);

        var option3 = document.createElement("option");
        option3.value = "i10MAGNA 1.2 KAPPA2"
        option3.text = "i10MAGNA 1.2 KAPPA2";
        secondDropdown.add(option3);

        var option4 = document.createElement("option");
        option4.value = "Santro XingGL PLUS"
        option4.text = "Santro XingGL PLUS";
        secondDropdown.add(option4);

        var option5 = document.createElement("option");
        option5.value = "EonSPORTZ"
        option5.text = "EonSPORTZ";
        secondDropdown.add(option5);

        var option6 = document.createElement("option");
        option6.value = "Grand i10ASTA 1.2 VTVT"
        option6.text = "Grand i10ASTA 1.2 VTVT";
        secondDropdown.add(option6);

        var option7 = document.createElement("option");
        option7.value = "AccentEXECUTIVE GLE"
        option7.text = "AccentEXECUTIVE GLE";
        secondDropdown.add(option7);

        var option8 = document.createElement("option");
        option8.value = "i20MAGNA 1.2 VTVT"
        option8.text = "i20MAGNA 1.2 VTVT";
        secondDropdown.add(option8);

        var option9 = document.createElement("option");
        option9.value = "Grand i10SPORTS 1.2 VTVT"
        option9.text = "Grand i10SPORTS 1.2 VTVT";
        secondDropdown.add(option9);

        var option10 = document.createElement("option");
        option10.value = "i10ERA"
        option10.text = "i10ERA";
        secondDropdown.add(option10);

        var option11 = document.createElement("option");
        option11.value = "VENUES MT 1.2 KAPPA"
        option11.text = "VENUES MT 1.2 KAPPA";
        secondDropdown.add(option11);

        var option12 = document.createElement("option");
        option12.value = "i10SPORTZ 1.2 AT KAPPA2"
        option12.text = "i10SPORTZ 1.2 AT KAPPA2";
        secondDropdown.add(option12);

        var option13 = document.createElement("option");
        option13.value = "Grand i10SPORTZ O 1.2"
        option13.text = "Grand i10SPORTZ O 1.2";
        secondDropdown.add(option13);

        var option14 = document.createElement("option");
        option14.value = "New ElantraS 1.8 MT"
        option14.text = "New ElantraS 1.8 MT";
        secondDropdown.add(option14);

        var option15 = document.createElement("option");
        option15.value = "XcentBASE 1.2"
        option15.text = "XcentBASE 1.2";
        secondDropdown.add(option15);

        var option16 = document.createElement("option");
        option16.value = "VernaFLUIDIC 1.6 VTVT S (O)  MT"
        option16.text = "VernaFLUIDIC 1.6 VTVT S (O)  MT";
        secondDropdown.add(option16);

        var option17 = document.createElement("option");
        option17.value = "i10MAGNA"
        option17.text = "i10MAGNA";
        secondDropdown.add(option17);

        var option18 = document.createElement("option");
        option18.value = "i20MAGNA O 1.2"
        option18.text = "i20MAGNA O 1.2";
        secondDropdown.add(option18);

        var option19 = document.createElement("option");
        option19.value = "Creta1.6 VTVT SX AUTO"
        option19.text = "Creta1.6 VTVT SX AUTO";
        secondDropdown.add(option19);

        var option20 = document.createElement("option");
        option20.value = "Sonata Transform2.0 CRDI MT"
        option20.text = "Sonata Transform2.0 CRDI MT";
        secondDropdown.add(option20);

      } else if (firstDropdown.value === "Maruti") {
        var option20 = document.createElement("option");
        option20.text = "Wagon R 1.0LXI";
        option20.value = "Wagon R 1.0LXI"
        secondDropdown.add(option20);

        var option21 = document.createElement("option");
        option21.text = "Alto K10LXI";
        option21.value = "Alto K10LXI"
        secondDropdown.add(option21);

        var option22 = document.createElement("option");
        option22.text = "SwiftVXI";
        option22.value = "SwiftVXI"
        secondDropdown.add(option22);

        var option23 = document.createElement("option");
        option23.text = "Eeco5 STR WITH AC PLUSHTR";
        option23.value = "Eeco5 STR WITH AC PLUSHTR"
        secondDropdown.add(option23);

        var option24 = document.createElement("option");
        option24.text = "OMNI ESTD";
        option24.value = "OMNI ESTD"
        secondDropdown.add(option24);

        var option25 = document.createElement("option");
        option25.text = "CelerioZXI OPT";
        option25.value = "CelerioZXI OPT"
        secondDropdown.add(option25);

        var option26 = document.createElement("option");
        option26.text = "DzireVDI";
        option26.value = "DzireVDI"
        secondDropdown.add(option26);

        var option27 = document.createElement("option");
        option27.text = "Swift DzireVXI 1.2 BS IV";
        option27.value = "Swift DzireVXI 1.2 BS IV"
        secondDropdown.add(option27);

        var option28 = document.createElement("option");
        option28.text = "BalenoALPHA 1.2 K12";
        option28.value = "BalenoALPHA 1.2 K12"
        secondDropdown.add(option28);

        var option29 = document.createElement("option");
        option29.text = "Vitara BrezzaVDI AMT";
        option29.value = "Vitara BrezzaVDI AMT"
        secondDropdown.add(option29);

        var option30 = document.createElement("option");
        option30.text = "CiazALPHA 1.3 DDIS SHVS";
        option30.value = "CiazALPHA 1.3 DDIS SHVS"
        secondDropdown.add(option30);

        var option31 = document.createElement("option");
        option31.value = "ErtigaVDI ABS"
        option31.text = "ErtigaVDI ABS";
        secondDropdown.add(option31);

        var option32 = document.createElement("option");
        option32.value = "A StarLXI"
        option32.text = "A StarLXI";
        secondDropdown.add(option32);

        var option33 = document.createElement("option");
        option33.value = "Swift DzireVXI AT"
        option33.text = "Swift DzireVXI AT";
        secondDropdown.add(option33);

        var option34 = document.createElement("option");
        option34.value = "Vitara BrezzaVDI DUAL TONE"
        option34.text = "Vitara BrezzaVDI DUAL TONE";
        secondDropdown.add(option34);

        var option35 = document.createElement("option");
        option35.value = "ErtigaZDI PLUS SHVS"
        option35.text = "ErtigaZDI PLUS SHVS";
        secondDropdown.add(option35);

        var option36 = document.createElement("option");
        option36.value = "CiazVDI"
        option36.text = "CiazVDI";
        secondDropdown.add(option36);

        var option37 = document.createElement("option");
        option37.value = "AltoXCITE"
        option37.text = "AltoXCITE";
        secondDropdown.add(option37);

        var option38 = document.createElement("option");
        option38.value = "Wagon RVXI MINOR"
        option38.text = "Wagon RVXI MINOR";
        secondDropdown.add(option38);

        var option39 = document.createElement("option");
        option39.value = "IGNISZETA 1.3 DDIS"
        option39.text = "IGNISZETA 1.3 DDIS";
        secondDropdown.add(option39);
        
        var option40 = document.createElement("option");
        option40.value = "A StarZXI"
        option40.text = "A StarZXI";
        secondDropdown.add(option40);

      } else if (firstDropdown.value === "Tata") {
        var option41 = document.createElement("option");
        option41.value = "NanoTWIST XTA"
        option41.text = "NanoTWIST XTA";
        secondDropdown.add(option41);

        var option42 = document.createElement("option");
        option42.value = "TiagoXT 1.2 REVOTRON"
        option42.text = "TiagoXT 1.2 REVOTRON";
        secondDropdown.add(option42);

        var option43 = document.createElement("option");
        option43.value = "TiagoXZ 1.2 REVOTRON"
        option43.text = "TiagoXZ 1.2 REVOTRON";
        secondDropdown.add(option43);

        var option44 = document.createElement("option");
        option44.value = "TIAGO NRGPETROL"
        option44.text = "TIAGO NRGPETROL";
        secondDropdown.add(option44);

        var option45 = document.createElement("option");
        option45.value = "ZestXT RT"
        option45.text = "ZestXT RT";
        secondDropdown.add(option45);

        var option46 = document.createElement("option");
        option46.value = "AriaPURE LX 4X2"
        option46.text = "AriaPURE LX 4X2";
        secondDropdown.add(option46);

        var option47 = document.createElement("option");
        option47.value = "NEXONXZ+ 1.5"
        option47.text = "NEXONXZ+ 1.5";
        secondDropdown.add(option47);

        var option48 = document.createElement("option");
        option48.value = "ZestXM RT 90 PS ABS"
        option48.text = "ZestXM RT 90 PS ABS";
        secondDropdown.add(option48);

        var option49 = document.createElement("option");
        option49.value = "NEXONXE"
        option49.text = "NEXONXE";
        secondDropdown.add(option49);

        var option50 = document.createElement("option");
        option50.value = "Safari Storme2.2 LX 4X2"
        option50.text = "Safari Storme2.2 LX 4X2";
        secondDropdown.add(option50);

        var option51 = document.createElement("option");
        option51.value = "TiagoXE 1.2 REVOTRON"
        option51.text = "TiagoXE 1.2 REVOTRON";
        secondDropdown.add(option51);

        var option52 = document.createElement("option");
        option52.value = "ZestXMS QUADRAJET 90PS"
        option52.text = "ZestXMS QUADRAJET 90PS";
        secondDropdown.add(option52);

        var option53 = document.createElement("option");
        option53.value = "HexaVaricor 400 XMA"
        option53.text = "HexaVaricor 400 XMA";
        secondDropdown.add(option53);

        var option54 = document.createElement("option");
        option54.value = "NanoXT TWIST"
        option54.text = "NanoXT TWIST";
        secondDropdown.add(option54);

        var option55 = document.createElement("option");
        option55.value = "ManzaELAN QUADRAJET BS IV"
        option55.text = "ManzaELAN QUADRAJET BS IV";
        secondDropdown.add(option55);

        var option56 = document.createElement("option");
        option56.value = "HarrierXZ 2.0L Kryotec"
        option56.text = "HarrierXZ 2.0L Kryotec";
        secondDropdown.add(option56);

        var option57 = document.createElement("option");
        option57.value = "EonSPORTZ"
        option57.text = "EonSPORTZ";
        secondDropdown.add(option57);

        var option58 = document.createElement("option");
        option58.value = "Indica VistaVX QUADRAJET"
        option58.text = "Indica VistaVX QUADRAJET";
        secondDropdown.add(option58);

        var option59 = document.createElement("option");
        option59.value = "HexaVaricor 400 XT"
        option59.text = "HexaVaricor 400 XT";
        secondDropdown.add(option59);
        
        var option60 = document.createElement("option");
        option60.value = "BoltXT REVOTRON"
        option60.text = "BoltXT REVOTRON";
        secondDropdown.add(option60);
      }
      else if (firstDropdown.value === "Honda") {
        var option61 = document.createElement("option");
        option61.value = "Brio1.2 S MT I VTEC"
        option61.text = "Brio1.2 S MT I VTEC";
        secondDropdown.add(option61);

        var option62 = document.createElement("option");
        option62.value = "Amaze1.2 VXMT I VTEC"
        option62.text = "Amaze1.2 VXMT I VTEC";
        secondDropdown.add(option62);

        var option63 = document.createElement("option");
        option63.value = "Jazz1.2 V MT' 'Amaze1.2 SMT I VTEC"
        option63.text = "Jazz1.2 V MT' 'Amaze1.2 SMT I VTEC";
        secondDropdown.add(option63);

        var option64 = document.createElement("option");
        option64.value = "WR-V1.5 i-DTEC VX MT"
        option64.text = "WR-V1.5 i-DTEC VX MT";
        secondDropdown.add(option64);

        var option65 = document.createElement("option");
        option65.value = "CityZX CVT ANNIVERSARY EDITION"
        option65.text = "CityZX CVT ANNIVERSARY EDITION";
        secondDropdown.add(option65);

        var option66 = document.createElement("option");
        option66.value = "Amaze1.5 SMT I DTEC"
        option66.text = "Amaze1.5 SMT I DTEC";
        secondDropdown.add(option66);

        var option67 = document.createElement("option");
        option67.value = "Jazz1.2 X I VTEC"
        option67.text = "Jazz1.2 X I VTEC";
        secondDropdown.add(option67);

        var option68 = document.createElement("option");
        option68.value = "Brio1.2 VX AT I VTEC"
        option68.text = "Brio1.2 VX AT I VTEC";
        secondDropdown.add(option68);

        var option69 = document.createElement("option");
        option69.value = "CRV2.4 AT"
        option69.text = "CRV2.4 AT";
        secondDropdown.add(option69);

        var option70 = document.createElement("option");
        option70.value = "Accord2.4 MT"
        option70.text = "Accord2.4 MT";
        secondDropdown.add(option70);

        var option71 = document.createElement("option");
        option71.value = "Mobilio1.5 S I DTEC"
        option71.text = "Mobilio1.5 S I DTEC";
        secondDropdown.add(option71);

        var option72 = document.createElement("option");
        option72.value = "Jazz1.2 S MT"
        option72.text = "Jazz1.2 S MT";
        secondDropdown.add(option72);

        var option73 = document.createElement("option");
        option73.value = "Amaze1.5 EXMT I DTEC"
        option73.text = "Amaze1.5 EXMT I DTEC";
        secondDropdown.add(option73);

        var option74 = document.createElement("option");
        option74.value = "CRV1.6 AT I DTEC"
        option74.text = "CRV1.6 AT I DTEC";
        secondDropdown.add(option74);

        var option75 = document.createElement("option");
        option75.value = "Jazz1.2 VX I-VTECH"
        option75.text = "Jazz1.2 VX I-VTECH";
        secondDropdown.add(option75);

        var option76 = document.createElement("option");
        option76.value = "CRV2.0 2WD AT"
        option76.text = "CRV2.0 2WD AT";
        secondDropdown.add(option76);

        var option77 = document.createElement("option");
        option77.value = "EonSPORTZ"
        option77.text = "EonSPORTZ";
        secondDropdown.add(option77);

        var option78 = document.createElement("option");
        option78.value = "Civic1.8V MT"
        option78.text = "Civic1.8V MT";
        secondDropdown.add(option78);

        var option79 = document.createElement("option");
        option79.value = "Jazz1.2 SV MT"
        option79.text = "Jazz1.2 SV MT";
        secondDropdown.add(option79);

        var option80 = document.createElement("option");
        option80.value = "Civic1.8S MT"
        option80.text = "Civic1.8S MT";
        secondDropdown.add(option80);        
      }
      else if (firstDropdown.value === "Renault") {
        var option81 = document.createElement("option");
        option81.value = "KwidRXT 1.0 EASY-R AT OPTION"
        option81.text = "KwidRXT 1.0 EASY-R AT OPTION";
        secondDropdown.add(option81);

        var option82 = document.createElement("option");
        option82.value = "KwidRXL"
        option82.text = "KwidRXL";
        secondDropdown.add(option82);

        var option83 = document.createElement("option");
        option83.value = "Kwid1.0 RXT Opt"
        option83.text = "Kwid1.0 RXT Opt";
        secondDropdown.add(option83);

        var option84 = document.createElement("option");
        option84.value = "KwidRXT Opt"
        option84.text = "KwidRXT Opt";
        secondDropdown.add(option84);

        var option85 = document.createElement("option");
        option85.value = "KwidRXT"
        option85.text = "KwidRXT";
        secondDropdown.add(option85);

        var option86 = document.createElement("option");
        option86.value = "DusterRXE PETROL 104"
        option86.text = "DusterRXE PETROL 104";
        secondDropdown.add(option86);

        var option87 = document.createElement("option");
        option87.value = "KwidRXE"
        option87.text = "KwidRXE";
        secondDropdown.add(option87);

        var option88 = document.createElement("option");
        option88.value = "Duster85 PS RXL OPT"
        option88.text = "Duster85 PS RXL OPT";
        secondDropdown.add(option88);

        var option89 = document.createElement("option");
        option89.value = "Kwid1.0 RXT"
        option89.text = "Kwid1.0 RXT";
        secondDropdown.add(option89);

        var option90 = document.createElement("option");
        option90.value = "Duster85 PS RXE"
        option90.text = "Duster85 PS RXE";
        secondDropdown.add(option90);

        var option91 = document.createElement("option");
        option91.value = "ScalaRXZ"
        option91.text = "ScalaRXZ";
        secondDropdown.add(option91);
        
        var option92 = document.createElement("option");
        option92.value = "Lodgy110 PS RXZ 8 STR"
        option92.text = "Lodgy110 PS RXZ 8 STR";
        secondDropdown.add(option92);

        var option93 = document.createElement("option");
        option93.value = "TRIBER1.0 RXT"
        option93.text = "TRIBER1.0 RXT";
        secondDropdown.add(option93);

        var option94 = document.createElement("option");
        option94.value = "TRIBERRXZ AT"
        option94.text = "TRIBERRXZ AT";
        secondDropdown.add(option94);

        var option95 = document.createElement("option");
        option95.value = "DusterRXZ"
        option95.text = "DusterRXZ";
        secondDropdown.add(option95);

        var option96 = document.createElement("option");
        option96.value = "DusterRXL 110 PS ADVENTURE"
        option96.text = "DusterRXL 110 PS ADVENTURE";
        secondDropdown.add(option96);

        var option97 = document.createElement("option");
        option97.value = "DusterRXZ AMT 110 PS"
        option97.text = "DusterRXZ AMT 110 PS";
        secondDropdown.add(option97);

        var option98 = document.createElement("option");
        option98.value = "Fluence2.0 E4 AT"
        option98.text = "Fluence2.0 E4 AT";
        secondDropdown.add(option98);        
      }
      else if (firstDropdown.value === "Ford") {
        var option99 = document.createElement("option");
        option99.value = "Figo1.2 ZXI DURATEC"
        option99.text = "Figo1.2 ZXI DURATEC";
        secondDropdown.add(option99);

        var option100 = document.createElement("option");
        option100.value = "Figo1.2 TITANIUM DURATEC"
        option100.text = "Figo1.2 TITANIUM DURATEC";
        secondDropdown.add(option100);

        var option101 = document.createElement("option");
        option101.value = "Figo1.4 ZXI DURATORQ"
        option101.text = "Figo1.4 ZXI DURATORQ";
        secondDropdown.add(option101);

        var option102 = document.createElement("option");
        option102.value = "Ecosport1.5TITANIUM TDCI"
        option102.text = "Ecosport1.5TITANIUM TDCI";
        secondDropdown.add(option102);

        var option103 = document.createElement("option");
        option103.value = "Ecosport1.5 TREND TI VCT"
        option103.text = "Ecosport1.5 TREND TI VCT";
        secondDropdown.add(option103);

        var option104 = document.createElement("option");
        option104.value = "Ecosport1.5 TREND+ TDCI"
        option104.text = "Ecosport1.5 TREND+ TDCI";
        secondDropdown.add(option104);

        var option105 = document.createElement("option");
        option105.value = "Figo1.2 EXI DURATEC"
        option105.text = "Figo1.2 EXI DURATEC";
        secondDropdown.add(option105);

        var option106 = document.createElement("option");
        option106.value = "Ecosport1.5 TITANIUM TI VCT"
        option106.text = "Ecosport1.5 TITANIUM TI VCT";
        secondDropdown.add(option106);

        var option107 = document.createElement("option");
        option107.value = "Ecosport1.5 TREND TDCI"
        option107.text = "Ecosport1.5 TREND TDCI";
        secondDropdown.add(option107);

        var option108 = document.createElement("option");
        option108.value = "Ecosport1.5 TDCI TITANIUM PLUS"
        option108.text = "Ecosport1.5 TDCI TITANIUM PLUS";
        secondDropdown.add(option108);

        var option109 = document.createElement("option");
        option109.value = "Fiesta1.6 EXI LTD"
        option109.text = "Fiesta1.6 EXI LTD";
        secondDropdown.add(option109);

        var option110 = document.createElement("option");
        option110.value = "EcosportTITANIUM PLUS 1.5 TI VCT MT"
        option110.text = "EcosportTITANIUM PLUS 1.5 TI VCT MT";
        secondDropdown.add(option110);

        var option111 = document.createElement("option");
        option111.value = "Figo1.4 LXI DURATORQ"
        option111.text = "Figo1.4 LXI DURATORQ";
        secondDropdown.add(option111);

        var option112 = document.createElement("option");
        option112.value = "New Figo1.2 TREND"
        option112.text = "New Figo1.2 TREND";
        secondDropdown.add(option112);

        var option113 = document.createElement("option");
        option113.value = "Ecosport1.0 ECOBOOST TITANIUM OPT"
        option113.text = "Ecosport1.0 ECOBOOST TITANIUM OPT";
        secondDropdown.add(option113);

        var option114 = document.createElement("option");
        option114.value = "EcosportTREND + 1.5 TI VCT AT"
        option114.text = "EcosportTREND + 1.5 TI VCT AT";
        secondDropdown.add(option114);

        var option115 = document.createElement("option");
        option115.value = "Figo1.4 TITANIUM DURATORQ"
        option115.text = "Figo1.4 TITANIUM DURATORQ";
        secondDropdown.add(option115);

        var option116 = document.createElement("option");
        option116.value = "Figo1.4 EXI DURATORQ"
        option116.text = "Figo1.4 EXI DURATORQ";
        secondDropdown.add(option116);

        var option117 = document.createElement("option");
        option117.value = "Ecosport1.0 ECOBOOST TITANIUM"
        option117.text = "Ecosport1.0 ECOBOOST TITANIUM";
        secondDropdown.add(option117);
      }
      else if (firstDropdown.value === "Toyota") {
        var option118 = document.createElement("option");
        option118.value = "Innova Crysta2.4 VX 8 STR"
        option118.text = "Innova Crysta2.4 VX 8 STR";
        secondDropdown.add(option118);
        
        var option119 = document.createElement("option");
        option119.value = "Innova Crysta2.4 GX 8 STR"
        option119.text = "Innova Crysta2.4 GX 8 STR";
        secondDropdown.add(option119);
        
        var option120 = document.createElement("option");
        option120.value = "Innova Crysta2.8 ZX AT 7 STR"
        option120.text = "Innova Crysta2.8 ZX AT 7 STR";
        secondDropdown.add(option120);

        var option121 = document.createElement("option");
        option121.value = "EtiosGD"
        option121.text = "EtiosGD";
        secondDropdown.add(option121);

        var option122 = document.createElement("option");
        option122.value = "Fortuner3.0 MT 4X4"
        option122.text = "Fortuner3.0 MT 4X4";
        secondDropdown.add(option122);

        var option123 = document.createElement("option");
        option123.value = "Innova2.5 VX 8 STR BS IV"
        option123.text = "Innova2.5 VX 8 STR BS IV";
        secondDropdown.add(option123);

        var option124 = document.createElement("option");
        option124.value = "Innova2.5 GX 8 STR BS IV"
        option124.text = "Innova2.5 GX 8 STR BS IV";
        secondDropdown.add(option124);

        var option125 = document.createElement("option");
        option125.value = "EtiosVX"
        option125.text = "EtiosVX";
        secondDropdown.add(option125);

        var option126 = document.createElement("option");
        option126.value = "EtiosG"
        option126.text = "EtiosG";
        secondDropdown.add(option126);

        var option127 = document.createElement("option");
        option127.value = "Etios LivaGD"
        option127.text = "Etios LivaGD";
        secondDropdown.add(option127);

        var option128 = document.createElement("option");
        option128.value = "Innova Crysta2.4 VX 7 STR"
        option128.text = "Innova Crysta2.4 VX 7 STR";
        secondDropdown.add(option128);

        var option129 = document.createElement("option");
        option129.value = "Corolla AltisG"
        option129.text = "Corolla AltisG";
        secondDropdown.add(option129);

        var option130 = document.createElement("option");
        option130.value = "Corolla AltisD 4D J"
        option130.text = "Corolla AltisD 4D J";
        secondDropdown.add(option130);

        var option131 = document.createElement("option");
        option131.value = "Corolla AltisD 4D JS"
        option131.text = "Corolla AltisD 4D JS";
        secondDropdown.add(option131);
        
        var option132 = document.createElement("option");
        option132.value = "Etios LivaGD exclusive"
        option132.text = "Etios LivaGD exclusive";
        secondDropdown.add(option132);

        var option133 = document.createElement("option");
        option133.value = "Fortuner3.0 MT 4X2"
        option133.text = "Fortuner3.0 MT 4X2";
        secondDropdown.add(option133);

        var option134 = document.createElement("option");
        option134.value = "Fortuner3.0 AT 4X2"
        option134.text = "Fortuner3.0 AT 4X2";
        secondDropdown.add(option134);

        var option135 = document.createElement("option");
        option135.value = "Etios LivaD 4D GD SP"
        option135.text = "Etios LivaD 4D GD SP";
        secondDropdown.add(option135);

        var option136 = document.createElement("option");
        option136.value = "EtiosVD"
        option136.text = "EtiosVD";
        secondDropdown.add(option136);

        var option137 = document.createElement("option");
        option137.value = "Land CruiserLC200 VX 2 PREMIUM"
        option137.text = "Land CruiserLC200 VX 2 PREMIUM";
        secondDropdown.add(option137);
      }
      else if (firstDropdown.value === "Mahindra") {
        var option138 = document.createElement("option");
        option138.value = "TharCRDE 4X4 BS IV"
        option138.text = "TharCRDE 4X4 BS IV";
        secondDropdown.add(option138);

        var option139 = document.createElement("option");
        option139.value = "XUV500W8 FWD"
        option139.text = "XUV500W8 FWD";
        secondDropdown.add(option139);

        var option140 = document.createElement("option");
        option140.value = "Kuv100K2 6 STR"
        option140.text = "Kuv100K2 6 STR";
        secondDropdown.add(option140);

        var option141 = document.createElement("option");
        option141.value = "ScorpioS11"
        option141.text = "ScorpioS11";
        secondDropdown.add(option141);
        
        var option142 = document.createElement("option");
        option142.value = "ScorpioS6 PLUS"
        option142.text = "ScorpioS6 PLUS";
        secondDropdown.add(option142);

        var option143 = document.createElement("option");
        option143.value = "ScorpioS10"
        option143.text = "ScorpioS10";
        secondDropdown.add(option143);

        var option144 = document.createElement("option");
        option144.value = "XUV500W6 4X2"
        option144.text = "XUV500W6 4X2";
        secondDropdown.add(option144);

        var option145 = document.createElement("option");
        option145.value = "XUV500W6 AT"
        option145.text = "XUV500W6 AT";
        secondDropdown.add(option145);

        var option146 = document.createElement("option");
        option146.value = "ScorpioS5 2WD"
        option146.text = "ScorpioS5 2WD";
        secondDropdown.add(option146);

        var option147 = document.createElement("option");
        option147.value = "XUV500W10"
        option147.text = "XUV500W10";
        secondDropdown.add(option147);

        var option148 = document.createElement("option");
        option148.value = "XUV500W10 FWD"
        option148.text = "XUV500W10 FWD";
        secondDropdown.add(option148);

        var option149 = document.createElement("option");
        option149.value = "QuantoC2"
        option149.text = "QuantoC2";
        secondDropdown.add(option149);

        var option150 = document.createElement("option");
        option150.value = "ScorpioS4PLUS"
        option150.text = "ScorpioS4PLUS";
        secondDropdown.add(option150);

        var option151 = document.createElement("option");
        option151.value = "ScorpioS8"
        option151.text = "ScorpioS8";
        secondDropdown.add(option151);

        var option152 = document.createElement("option");
        option152.value = "XUV500W9"
        option152.text = "XUV500W9";
        secondDropdown.add(option152);

        var option153 = document.createElement("option");
        option153.value = "BoleroPower+ SLX"
        option153.text = "BoleroPower+ SLX";
        secondDropdown.add(option153);

        var option154 = document.createElement("option");
        option154.value = "ScorpioEX"
        option154.text = "ScorpioEX";
        secondDropdown.add(option154);

        var option155 = document.createElement("option");
        option155.value = "ScorpioS6"
        option155.text = "ScorpioS6";
        secondDropdown.add(option155);

        var option156 = document.createElement("option");
        option156.value = "BoleroPOWER+ SLE"
        option156.text = "BoleroPOWER+ SLE";
        secondDropdown.add(option156);

        var option157 = document.createElement("option");
        option157.value = "BoleroZLX"
        option157.text = "BoleroZLX";
        secondDropdown.add(option157);

        }

    }
    // window.onload = function() {
    //                             var carForm = document.getElementById("carForm");
    //                             carForm.reset();
    //                         };
                        </script>


                    </div>
                </div>

                                


                <div class="user-input">
                    <div class="user-input-box">
                        <label for="carModel"> Model Year</label>
                        <select class="select-input" name="car_model">
                            <option value=""></option>
                            <option value="2010"> 2010 </option>
                            <option value="2011"> 2011 </option>
                            <option value="2012"> 2012 </option>
                            <option value="2013"> 2013 </option>
                            <option value="2014"> 2014 </option>
                            <option value="2015"> 2015 </option>
                            <option value="2016"> 2016 </option>
                            <option value="2017"> 2017 </option>
                            <option value="2018"> 2018 </option>
                            <option value="2019"> 2019 </option>
                            <option value="2020"> 2020 </option>
                            <option value="2021"> 2021 </option>
                        </select>
                    </div>
                </div>
                <div class="user-input">
                    <div class="user-input-box">
                        <label for="carGear"> Gear </label>
                        <select class="select-input" name="car_gear">
                            <option value=""></option>
                            <option value="Manual"> Manual </option>
                            <option value="Automatic"> Automatic </option>
                        </select>
                    </div>
                </div>
                <div class="user-input">
                    <div class="user-input-box">
                        <label for="carFuel"> Fuel Type </label>
                        <select class="select-input" name="car_fuel">
                            <option value=""></option>
                            <option value="Petrol"> Petrol </option>
                            <option value="Diesel"> Diesel </option>
                        </select>
                    </div>
                </div>
                <div class="user-input">
                    <div class="user-input-box">
                        <label for="carKm"> Kilometer Driven </label>
                        <input type="number"
                                id="carKm"
                                name="car_kilometer"
                        />
                    </div>
                </div>
                <div class="form-submit-btn">
                    <input type="submit" value="Predict Price">
                </div>
                <div class="home">
                    <a href="{% url 'Home' %}" type="button" class="go-home" style=" text-decoration: none;
                    " > Back to home </a>
                </div>
            </form>
        </div>
    </section> 
    <!-- End Prediction Page -->
    
    <script>
        window.onload = function() {
            var carForm = document.getElementById("form");
            var initialFormValues = {};

            // Save the initial form values
            for (var i = 0; i < carForm.elements.length; i++) {
                var element = carForm.elements[i];
                if (element.type !== "submit") {
                    initialFormValues[element.name] = element.value;
                }
            }

            // Reset the form to the initial values
            function resetForm() {
                for (var i = 0; i < carForm.elements.length; i++) {
                    var element = carForm.elements[i];
                    if (element.type !== "submit") {
                        element.value = initialFormValues[element.name] || "";
                    }
                }
            }

            // Call resetForm() when the page is loaded
            resetForm();

            // Reset the form when the back button is clicked
            window.onpopstate = function(event) {
                resetForm();
            };

            // Reset the form when the page is refreshed
            window.onbeforeunload = function(event) {
                resetForm();
            };
        };
    </script>
</body>
</html>