<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
    <link rel="stylesheet" href="/static/price.css">
</head>
<body>
    <!-- Price Page -->
    <section id="price">
        <div class="price container" style="text-align: center;">
            <h2>The predicted car price is:</h2>
            <h1>Nu.{{ result|floatformat:2 }}</h1>
        </div>
        
        <div class="form-submit-btn" style="text-align: center;">
            <a href="{% url 'prediction' %}" type="button" class="glow-on-hover" style=" text-decoration: none;
            "> New Prediction </a> <br><br>
            <a href="{% url 'suggestions' %}" type="button" class="glow-on-hover1"  style=" text-decoration: none;
            "> Similar Price </a> <br> 
        
        <a href="{% url 'Home' %}" type="button" class="glow-on-hover2" style=" text-decoration: none;
        " > Back to home </a></div>
    </section> 
    <!-- End Price Page -->
</body>
</html>