
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
    <link rel="stylesheet" href="./../static/table.css">
</head>
<body style= "background-color: #121212;
;">
  <center>
    <h1 style="color: white;">Cars with similar price range Nu. {{price|floatformat:2}}</h1> 
    
    <table class="styled-table">
        <thead>
          <tr style="background-color: black">
            <th  class="table-cell table-cell1">Brand</th>
            <th class="table-cell">Model</th>
            <th class="table-cell">Price</th>
            <th class="table-cell">Year</th>
            <th class="table-cell">Fuel Type</th>
            <th class="table-cell">KM Driven</th>
            
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
            <tr>
              <td>{{ row.1 }}</td>
              <td>{{ row.2 }}</td>
              <td>{{ row.3 }}</td>
              <td>{{ row.4 }}</td>
              <td>{{ row.6 }}</td>
              <td>{{ row.7 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </center>
</body>
</html>