/* about Section */

#about .about {
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 0;
    background-color: black;
}


#about .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#about .about-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    color: white;
    max-width: fit-content;
}


#about .about-top button {
    display: inline-block;
    padding: 10px 30px;
    color: #c81b1b;
    background-color: transparent;
    border: 2px solid #c81b1b;
    border-radius: 0.5cm;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;

}

#about .about-top button:hover {
    color: white;
    background-color: #c81b1b;
}