body {
    display: flex; 
    justify-content: center;
    align-items: center;
    background: #121212 ;
    background-size: cover;

}
.Table-data{
    background-color: #dddddd;
    width: 40rem;
    margin-left: 10rem;

}
.hover-text:hover {
    /* background-color: rgb(0, 0, 0); */
    /* border: 1px solid rgb(111, 105, 105); */
    color: white;
    /* background-color: #978f8f; */
}


.exportbtn {
    /* background-color: rgb(0, 0, 0); */
    border: 1px solid rgb(255, 2, 2);
    border-radius: 5px;
    padding: 0.5rem;
    text-decoration: none;
    color:rgb(255, 0, 0);
    transition: all ease-in-out 250ms;
    margin-left: 46rem;
}

.exportbtn:hover {
    /* background-color: rgb(0, 0, 0); */
    border: 1px solid rgb(255, 0, 0);
    color: white;
    background-color: #c81b1b;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #0685c1;
    color: #ffffff;
    text-align: left;
}

/* .styled-table th,
.styled-table td {
    padding: 12px 5px;
} */

.table-cell {
    padding: 12px 5px;
}

.table-cell1 {
    width: 200px;
}

.table-rows {
    padding: 2px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #d4d4d4;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0685c1;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #0685c1;
}

p {
    color: white;
    text-align: center;
    font-size: 50px;
}

.pagination {
    text-align: center;
}

.pagination a{
    color: red;
}

.current-page {
    color: red;
}
#myChart{
    background-color: #dddddd;
    align-items: center; /* Center the canvas horizontally */
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }

  thead {
    background-color: black;
    color: white;
  }

  th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }

  th {
    font-weight: bold;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Table Responsive Styling */
  @media only screen and (max-width: 768px) {
    table {
      font-size: 14px;
    }

    th, td {
      padding: 8px;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination button {
    padding: 8px 12px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  .pagination button:hover {
    background-color: #e0e0e0;
  }

  .pagination .arrow-button {
    font-weight: bold;
    background-color:#12121200;
    border: 1px solid #c81b1b;
    color: #c81b1b;
    transition: all ease-in 200ms;
    margin: 0 1.2rem 0 1.2rem;
  }

  .pagination .arrow-button:hover {
    font-weight: bold;
    background-color:#c81b1b;
    border: 1px solid #c81b1b;
    color: white;
  }

  .pagination .arrow-button.left {
    margin-right: 8px;
  }

  .btn-disabled {
    color: #c81b1b65 !important;
    border: 1px solid #c81b1b65 !important;
  }

  .btn-disabled:hover {
    color: #c81b1b65 !important;
    border: 1px solid #c81b1b65 !important;
    background-color:#12121200 !important;

  }


  .pagination .arrow-button.right {
    margin-left: 8px;
  }