@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700%display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none; 
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

/* Hero Section */
.hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
.heroen .text{
	display: flex;
    display: block;
    font-size: 4rem;
    color: rgb(11, 12, 12);
	margin: auto;
	margin-top: 5vh;
	padding: auto;
}
.heroen .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #c81b1b;
    background-color: transparent;
    border: 2px solid #c81b1b;
    border-radius: 0.5cm;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
	margin-left: 40%;
	z-index: 10;
}

.cta:hover {
    color: white;
    background-color: #c81b1b;
}
.heroen
{	
	text-align: center;
    margin-top: 55px;
	min-height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
	background-image: url(sky.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow-x: hidden;
    background-repeat: no-repeat;
} 
.highway{
	height: 200px;
	width: 500%;
	display: block;
	background-image: url(road.jpg);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-repeat: repeat-x;
	animation: highway 5s linear infinite;
}
@keyframes highway
{
	100%{
		transform: translateX(-3400px);
	}
}
.city
{
	height: 250px;
	width: 500%;
	display: block;
	background-image: url(city.png);
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 0;
	z-index: 1;
	background-repeat: repeat-x;
	animation: city 20s linear infinite;
}
@keyframes city
{
	100%{
		transform: translateX(-1400px);
	}
}
.car
{
	width: 400px;
	left: 50%;
	bottom: 100px;
	transform: translateX(-50%);
	position: absolute;
	z-index: 2;
}
.car img
{
	width: 100%;
	animation: car is linear infinite;
}
@keyframes car
{
	100%{
		transform: translateY(-1px);
	}
		50%{
		transform: translateY(-1px);
	}
		0%{
		transform: translateY(-1px);
	}
}
.wheel
{
	left: 50%;
	bottom: 178px;
	transform: translateX(-50%);
	position: absolute;
	z-index: 2;
}
.wheel img
{
	width: 72px;
	height: 72px;
	animation: wheel 1s linear infinite;
}
.back-wheel
{
	left: -165px;
	position: absolute;

}
.front-wheel
{
	left: 80px;
	position: absolute;

}
@keyframes wheel
{
	100%{
		transform: rotate(360deg);
	}
}
.gtsbtn{
	padding-right: 350px;
	padding-bottom: 80px;

} 