* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #121212;
    background-size: cover;

}

#prediction .prediction{
    width: 100%;
    max-width: 650px;
    background: #000000;
    padding: 28px;
    margin: 0 28px;
    border-radius: 40px;
    /* box-shadow: inset -2px 2px 2px white; */
}
.form-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}
.user-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    
}
.user-input-box:nth-child(2n) {
    justify-content: center;
}
.user-input-box {
    display: block;
    flex-wrap: wrap;
    width: 50%;

}
.user-input-box label{
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 90%;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
} 
.user-input-box .select-input{
    text-size-adjust: auto;
    height: 90%;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
} 

.form-submit-btn input{
    cursor: pointer;
}
.form-submit-btn{
    margin-top: 10px;

}

.form-submit-btn input {
    display: block;
    margin: 0 auto;
    height: 35px;
    width: 120px;
    padding: 2.5px 7.5px;
    color: #c81b1b;
    background-color: transparent;
    border: 1px solid #c81b1b;
    border-radius: 0.375cm;
    font-size: 14px;
    letter-spacing: 0.025rem;
    margin-top: 15px;
    transition: 0.3s ease;
    transition-property: background-color, color;
  }
  
  .form-submit-btn input:hover {
    color: white;
    background-color: #c81b1b;
  }
  
  .home .go-home {  
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 35px;
    width: 120px;
    padding: 8px 7.5px;
    color: #c81b1b;
    background-color: transparent;
    border: 1px solid #c81b1b;
    border-radius: 0.375cm;
    font-size: 14px;
    letter-spacing: 0.025rem;
    margin-top: 10px;
    transition: 0.3s ease;
    transition-property: background-color, color;
  }
  
  .home .go-home:hover {
    color: white;
    background-color: #c81b1b;
  }
  