* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #121212;
    background-size: cover;

}
#price .price{
    width: 100%;
    max-width: 650px;
    background: transparent;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
}
#price .price h1{
    color: White;
    font-size: 3rem;
    margin-bottom: 10px;
}
#price .price h2{
    color: White;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#price h2{
    align-items: center;
    color: White;
    font-size: 1rem;
    margin-bottom: 10px;
}
    #price .form-submit-btn .glow-on-hover {
        text-align: center; /* Add this line */
        display: block;
        margin: 0 auto;
        height: 45px;
        width: 120px;
        padding: 2.5px 7.5px;
        color: #c81b1b;
        background-color: transparent;
        border: 1px solid #c81b1b;
        border-radius: 0.375cm;
        font-size: 14;
        letter-spacing: 0.025rem;
        margin-top: 15px;
        transition: 0.3s ease;
        transition-property: background-color, color;
      }
      
      #price .form-submit-btn .glow-on-hover:hover {
        color: white;
        background-color: #c81b1b;
      }
      
      #price .form-submit-btn .glow-on-hover {
        cursor: pointer;
      }
      .form-submit-btn {
        margin-top: 40px;
      }

      #price .form-submit-btn .glow-on-hover1 {
        text-align: center; /* Add this line */
        display: block;
        margin: 0 auto;
        height: 30px;
        width: 120px;
        padding: 5px 7.5px;
        color: #c81b1b;
        background-color: transparent;
        border: 1px solid #c81b1b;
        border-radius: 0.375cm;
        font-size: 14;
        letter-spacing: 0.025rem;
        transition: 0.3s ease;
        transition-property: background-color, color;
      }
      
      #price .form-submit-btn .glow-on-hover1:hover {
        color: white;
        background-color: #c81b1b;
      }
      
      #price .form-submit-btn .glow-on-hover1 {
        cursor: pointer;
      }
      .form-submit-btn {
        margin-top: 40px;
      }

      #price .form-submit-btn .glow-on-hover2 {
        text-align: center; /* Add this line */
        display: block;
        margin: 0 auto;
        height: 30px;
        width: 120px;
        padding: 5px 7.5px;
        color: #c81b1b;
        background-color: transparent;
        border: 1px solid #c81b1b;
        border-radius: 0.375cm;
        font-size: 14;
        letter-spacing: 0.025rem;
        margin-top: 15px;
        transition: 0.3s ease;
        transition-property: background-color, color;
      }
      
      #price .form-submit-btn .glow-on-hover2:hover {
        color: white;
        background-color: #c81b1b;
      }
      
      #price .form-submit-btn .glow-on-hover2 {
        cursor: pointer;
      }
      .form-submit-btn {
        margin-top: 40px;
      }

      
      
      
  
/* #price .form-submit-btn .glow-on-hover {
    width: 300px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#price .form-submit-btn .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#price .form-submit-btn  {
    color: #000
}

#price .form-submit-btn .glow-on-hover:active:after {
    background: transparent;
}

#price .form-submit-btn .glow-on-hover:hover:before {
    opacity: 1;
}

#price .form-submit-btn .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */